.app-control {
  padding: 24px;
}

.screen-preview {
  overflow: hidden;
  max-height: 0;
  margin-bottom: 12px;
  transition: max-height .5s;
}

.control-container {
  margin: 4px 0;
}

.control-btn-container {
  margin-top: 24px;
  display: flex;
  gap: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-item {
  display: flex;
  align-items: center;
}

.form-item-label {
  width: 100px;
}

::ng-deep {
  .ant-collapse-header {
    padding: 0;
  }
}
