<div class="app-control">
  <div class="screen-preview" #screenRef>
    <nz-card nzTitle="计时器">
      <div style="display: flex;gap: 8px">
        @for ( screen of timerState.screen; track $index) {
          <div style="display: flex; flex-direction: column;width: 200px">
            <button
              nz-button
              nzType="default"
            >
              <a target="_blank" [href]="'/#/screen/' + screen.id">分屏打开</a>
            </button>
            <app-screen class="app-screen-inner" [playVoice]="false" [screenId]="screen.id"></app-screen>
            @if (screen.isStart) {
              <button
                  nz-button
                  nzType="primary"
                  (click)="stopTime(screen.id)"
                  nzDanger
              >暂停计时{{ screen.id }}</button>
            } @else {
              <button
                nz-button
                nzType="primary"
                (click)="startTime(screen.id)"
              >开始计时{{ screen.id }}</button>
            }
  <!--          <div style="display: flex;gap: 12px;height: 24px;margin-top: 12px;">-->
  <!--            <button (click)="startTime(screen.id)">开始计时{{ screen.id }}</button>-->
  <!--            <button (click)="stopTime(screen.id)">暂停计时{{ screen.id }}</button>-->
  <!--          </div>-->
          </div>
        }
      </div>
    </nz-card>
  </div>

  <nz-card nzTitle="控制台">
    @if (controlFormGroup) {
      <div class="control-container">
        <nz-collapse nzGhost>
          <nz-collapse-panel nzHeader="比赛设置" [nzActive]="panelActive">
            <form [formGroup]="controlFormGroup">
              <div class="form-item">
                <span class="form-item-label">
                  时间模式：
                </span>
                <nz-input-number
                    style="width: 200px"
                    nzPlaceHolder="每组时间（S）"
                    formControlName="timeNum"
                    nzMin="0"
                />
                <nz-color-picker  formControlName="timeNumColor"></nz-color-picker>

                <nz-upload
                  style="margin-left: 12px"
                  [nzBeforeUpload]="beforeUploadTimeNum"
                  nzFileType="audio/mpeg"
                >
                  <button nz-button>
                    <nz-icon nzType="upload" />
                    提示音
                  </button>
                </nz-upload>
                <audio
                    style="height: 32px;margin-left: 12px"
                    id="timeNumPlayer"
                    controls
                    (volumechange)="changeVolume($event, 'timeNumPlayer')"
                ></audio>
              </div>
              <div class="form-item">
                <span class="form-item-label">
                  上线时间：
                </span>
                <nz-input-number
                  style="width: 200px"
                  nzPlaceHolder="上线时间（S）"
                  formControlName="onlineNum"
                  nzMin="0"
                />
                <nz-color-picker  formControlName="onlineNumColor"></nz-color-picker>
                <nz-upload
                  style="margin-left: 12px"
                  [nzBeforeUpload]="beforeUploadOnlineNum"
                  nzFileType="audio/mpeg"
                >
                  <button nz-button>
                    <nz-icon nzType="upload" />
                    提示音
                  </button>
                </nz-upload>
                <audio
                    style="height: 32px;margin-left: 12px"
                    id="onlineNumPlayer"
                    controls
                    (volumechange)="changeVolume($event, 'onlineNumPlayer')"
                ></audio>
              </div>
              <div class="form-item">
                <span class="form-item-label">
                  倒数时间：
                </span>
                <nz-input-number
                  style="width: 200px"
                  nzPlaceHolder="倒数时间（S）"
                  formControlName="countNum"
                  nzMin="0"
                />
                <nz-color-picker  formControlName="countNumColor"></nz-color-picker>
                <nz-upload
                  style="margin-left: 12px"
                  [nzBeforeUpload]="beforeUploadCountNum"
                  nzFileType="audio/mpeg"
                >
                  <button nz-button>
                    <nz-icon nzType="upload" />
                    提示音
                  </button>
                </nz-upload>
                <audio
                    style="height: 32px;margin-left: 12px"
                    id="countNumPlayer"
                    controls
                    (volumechange)="changeVolume($event, 'countNumPlayer')"
                ></audio>
              </div>
              <div class="form-item">
                <span class="form-item-label">
                  发射组数：
                </span>
                <nz-input-number
                  style="width: 200px"
                  nzPlaceHolder="发射组数"
                  formControlName="roundCount"
                  nzMin="0"
                />
              </div>
              <div class="form-item">
                <span class="form-item-label">
                  文字显示：
                </span>
                <input
                    style="width: 200px"
                    nz-input
                    placeholder="计时器面板显示文字"
                    formControlName="screenText"
                />
                <span class="form-item-label" style="margin-left: 12px">
                  随发射变色：
                </span>
                <label nz-checkbox formControlName="textChangeColor"></label>
              </div>
              <div class="form-item">
                <span class="form-item-label">
                  计时模式：
                </span>
                <nz-select style="width: 200px" formControlName="timeMode">
                  <nz-option nzValue="once" nzLabel="单次"></nz-option>
                  <nz-option nzValue="loop" nzLabel="轮询"></nz-option>
                </nz-select>
              </div>
              @if(controlFormGroup.controls['timeMode'].value === 'once') {
<!--                <div class="form-item">-->
<!--                  <span class="form-item-label">并行数：</span>-->
<!--                  <nz-input-number-->
<!--                    style="width: 200px"-->
<!--                    nzPlaceHolder="并行数"-->
<!--                    formControlName="groupMember"-->
<!--                    nzMin="0"-->
<!--                  />-->
<!--                  <span class="form-item-label" style="margin-left: 12px">-->
<!--                    并行显示文字：-->
<!--                  </span>-->
<!--                  <input-->
<!--                    style="width: 200px"-->
<!--                    nz-input-->
<!--                    placeholder="并行显示文字"-->
<!--                    formControlName="onceText"-->
<!--                  />-->
<!--                </div>-->
                    <div formArrayName="onceGroup" >
                      @for(g of $any(controlFormGroup.controls['onceGroup']).controls; track $index) {
                        <form  [formGroup]="g">
                          <div style="display: flex;align-items: center; margin-bottom: 12px">
                            <span class="form-item-label"> 并行显示{{ $index + 1 }}：</span>
                            <input
                              style="width: 200px"
                              nz-input
                              [placeholder]="'并行显示' + ($index + 1)"
                              formControlName="text"
                            />
                              <a (click)="removeOnceGroup($index)" nz-button nzType="text" nzDanger>
                                <nz-icon nzType="delete" nzTheme="outline" />
                              </a>
                          </div>
                        </form>
                      }
                      <button nz-button nzType="default" (click)="addOnceGroup()">增加并行显示</button>
                    </div>
              }
              @if(controlFormGroup.controls['timeMode'].value === 'loop') {
                <div class="form-item">
                  <span class="form-item-label">
                    每组单独上线：
                  </span>
                  <label nz-checkbox formControlName="loopOnlineNum"></label>
                </div>
                <div formArrayName="loopGroup" >
                  @for(g of $any(controlFormGroup.controls['loopGroup']).controls; track $index) {
                    <form  [formGroup]="g">
                      <div style="display: flex;align-items: center; margin-bottom: 12px">
                        <span class="form-item-label"> 轮询组{{ $index + 1 }}：</span>
                        <input
                          style="width: 200px"
                          nz-input
                          [placeholder]="'轮询组' + ($index + 1)"
                          formControlName="text"
                        />
                          <a (click)="removeLoopGroup($index)" nz-button nzType="text" nzDanger>
                            <nz-icon nzType="delete" nzTheme="outline" />
                          </a>
                      </div>
                    </form>
                  }
                  <button nz-button nzType="default" (click)="addLoopGroup()">增加轮询组</button>
                </div>
              }

              <div class="form-item">
                <span class="form-item-label">
                  计时器字体：
                </span>
                <nz-select style="width: 200px" formControlName="fontFamily" [nzCustomTemplate]="multipleTemplate">
<!--                  <nz-option nzValue="default" nzCustomContent>-->
<!--                    <span style="font-family: 'default'">-->
<!--                      1234567890-->
<!--                    </span>-->
<!--                  </nz-option>-->
                  <nz-option nzValue="led regular" nzLabel="LCD" nzCustomContent>
                    <span style="font-family: 'led regular'">
                      1234567890
                    </span>
                  </nz-option>
                  <nz-option nzValue="eth regular" nzLabel="液晶" nzCustomContent>
                    <span style="font-family: 'eth regular'">
                      1234567890
                    </span>
                  </nz-option>
                  <nz-option nzValue="Starjout regular" nzCustomContent>
                    <span style="font-family: 'Starjout regular'">
                      1234567890
                    </span>
                  </nz-option>
                  <nz-option nzValue="STJEDISE regular" nzCustomContent>
                    <span style="font-family: 'STJEDISE regular'">
                      1234567890
                    </span>
                  </nz-option>
                  <nz-option nzValue="PIXELYA regular" nzCustomContent>
                    <span style="font-family: 'PIXELYA regular'">
                      1234567890
                    </span>
                  </nz-option>
                  <nz-option nzValue="alarm regular" nzCustomContent>
                    <span style="font-family: 'alarm regular'">
                      1234567890
                    </span>
                  </nz-option>
                  <nz-option nzValue="Overseer regular" nzCustomContent>
                    <span style="font-family: 'Overseer regular'">
                      1234567890
                    </span>
                  </nz-option>
                  <nz-option nzValue="Overseer Italic regular" nzCustomContent>
                    <span style="font-family: 'Overseer Italic regular'">
                      1234567890
                    </span>
                  </nz-option>
                  <nz-option nzValue="Square regular" nzCustomContent>
                    <span style="font-family: 'Square regular'">
                      1234567890
                    </span>
                  </nz-option>
                </nz-select>
                <ng-template #multipleTemplate let-selected>
                  <div [style]="{'font-family': selected.nzValue}">
                    1234567890
                  </div>
                </ng-template>
              </div>
              <div class="form-item">
                <span class="form-item-label">
                  字体缩放比：
                </span>
                 <nz-input-number
                  style="width: 200px"
                  nzPlaceHolder="计时器字体缩放比"
                  formControlName="fontFamilyCalc"
                  nzMin="1"
                />
              </div>
              <div class="form-item">
                <span class="form-item-label">
                  字体间距：
                </span>
                 <nz-input-number
                  style="width: 200px"
                  nzPlaceHolder="计时器字体间距"
                  formControlName="fontFamilyMargin"
                  nzMin="0"
                />
              </div>
              <div class="form-item">
                <span class="form-item-label">
                  计时器背景：
                </span>
                <nz-color-picker  formControlName="backGroundColor"></nz-color-picker>
              </div>
            </form>
          </nz-collapse-panel>
        </nz-collapse>

      <div class="control-btn-container">
        @if (timerState['isStartRound']) {
          <button nz-button nzType="primary" nzDanger (click)="endRound()">停止轮次</button>
        } @else {
          <button nz-button nzType="primary" (click)="startRound()">开始轮次</button>
        }

        @if(timerState['isStartGroup']) {
            <button *ngIf="controlFormGroup.get('timeMode')?.value === 'loop'" nz-button nzType="primary" (click)="nextGroup()">下一组</button>
            <button nz-button nzDanger nzType="primary" (click)="stopGroup()">暂停组</button>
            <button nz-button nzDanger nzType="primary" (click)="endGroup()">停止组</button>
          } @else {
            <button nz-button nzType="primary" (click)="startGroup()">开始组</button>
        }
        <!--  <button (click)="pushScreen()">添加屏幕</button>-->
      </div>
      </div>
    }
  </nz-card>
</div>

