<div #screenRef class="screen-container" [style]="{'background-color': backGroundColor}">
    <div>
        @if(loadingDone) {
            <div class="screen-count-container">
                <div
                    class="screen-dot"
                    [style]="{
                        background: background ,
                        width: dotSize,
                        height: dotSize
                    }"
                >
                </div>

                <div class="screen-number"
                     [style]="{
                     fontSize: fontSize,
                     color: background,
                     fontFamily: fontFamily
                     }">
                    @if(isStart) {
                        @if (onlineNum) {
                            {{ onlineNum }}
                        } @else {
                            {{ timeNum }}
                        }
                    } @else {
                        {{ timeNum }}
                    }
                </div>
            </div>
            <div class="screen-text-container"
                 [style]="{
                     fontFamily: fontFamily
                     }">
                <div *ngIf="screenText" class="screen-text-container-1" >
                    <span [style]="{ color: isTextChangeColor ? background : '#fff' }">
                        {{ screenText }}
                    </span>
                </div>
                <div class="screen-text-container-2">
                    {{ onceText }}
                </div>
            </div>
        }
    </div>
</div>
